@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Customizing scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #dee2e6 !important;
}

/* Remove default focus outline for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.fs-9 {
  font-size: 10px;
}

.stroke-2 {
  stroke-width: 2px;
}

.stroke-3 {
  stroke-width: 3px;
}

.text-truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  z-index: 10;
}

header .dropdown-toggle::after {
  display: none;
}

header .input-group {
  max-width: 300px;
}

header .input-group .input-group-text {
  background-color: transparent;
  border-radius: 2rem;
  border: none;
}

header .input-group input {
  border-radius: 0px 2rem 2rem 0px;
  border: none;
}

header .location-dropdown .dropdown-toggle {
  max-width: 300px;
}

header .location-dropdown .dropdown-menu {
  max-width: 300px;
}

header .location-dropdown .list-group {
  max-height: 300px;
  overflow-y: auto;
}

header .location-dropdown .list-group li {
  border: 0;
}

header .location-dropdown .list-group li:hover {
  color: #005bf1;
  cursor: pointer;
}

main {
  min-height: 100svh;
}

.product-card .rating-star {
  fill: #ffc107;
  stroke: #ffc107;
}

.product-card .product-card-image {
  overflow: hidden;
}

.product-card .product-card-image img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-card .favorite-btn {
  position: absolute;
  top: 5px;
  z-index: 1;
  height: unset;
  width: unset;
  right: 5px;
  left: unset;
}

.product-card .favorite-btn .btn-check + .btn svg {
  opacity: 0;
}

.product-card .favorite-btn .btn-check:checked + .btn svg {
  opacity: 1;
  fill: #ff4d4d;
  stroke: #ff4d4d;
}

.product-card:hover .product-card-image img {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.product-card:hover .favorite-btn .btn-check + .btn svg {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.category-slider {
  position: -webkit-sticky;
  position: sticky;
  top: 87px;
  z-index: 2;
  background-color: #fff;
}

.category-slider > .container-xl::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.category-slider > .container-xl::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.category-slider .swiper {
  overflow: visible;
}

.category-slider .swiper-button-prev-category-nav {
  position: absolute;
  left: 0px;
  top: 6px;
  z-index: 10;
  background-color: #fff !important;
}

.category-slider .swiper-button-next-category-nav {
  position: absolute;
  right: 0px;
  top: 6px;
  z-index: 10;
  background-color: #fff !important;
}

.category-slider .swiper-button-disabled {
  opacity: 0.4;
}

.category-slider .category-nav-swiper .swiper-slide {
  width: auto;
}

.category-slider .category-nav-swiper .swiper-button-next-category-nav {
  right: 0;
}

.category-slider .category-nav-swiper .category-item {
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 10px 0px;
}

.category-slider .category-nav-swiper .category-item.show {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #005bf1;
  border-bottom: 4px solid #005bf1;
}

.category-slider .dropdown-menu {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  border-radius: 8px;
  min-width: 800px;
  padding: 24px;
  border: none;
}

.category-slider .dropdown-menu .dropdown-item {
  padding: 0px;
  color: #6c757d;
  background-color: transparent;
}

.category-slider .dropdown-menu .dropdown-item:hover {
  color: #005bf1;
}

footer {
  background-color: #f8f9fa;
}

footer .list-unstyled a {
  font-size: 14px;
}

footer .list-unstyled a:hover {
  color: #005bf1;
}

.chosen-container {
  font-size: 16px;
  width: auto !important;
}

.chosen-container .chosen-single {
  border-color: #dee2e6;
  background: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 36px;
  line-height: 33px;
}

.chosen-container .chosen-single div b {
  background-image: url("../images/icons/chevron-down.svg") !important;
  background-repeat: no-repeat;
  background-position: -4px 9px !important;
  background-size: 16px !important;
}
/*# sourceMappingURL=style.css.map */